body {
  font-family: Arial;
  text-align: center;
  background: #111;
  color: white;
}

.box {
  background: #222;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

button {
  padding: 10px;
  margin: 5px;
  font-size: 16px;
}
